* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  min-height: 100svh;
  padding: 2rem;
  font-family: Inter, -apple-system, MiSans, 'HarmonyOS Sans SC', system-ui,
    'Source Han Sans SC', 'Noto Sans SC', Roboto, emoji, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #1f2328;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

aside {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

section {
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
}

p {
  font-weight: 400;
  color: #6e7681;
  font-size: 0.75rem;
}

audio {
  border-radius: 4rem;
}

picture {
  width: 100%;
  z-index: 10;
}

img {
  max-width: 100%;
  width: auto;
  max-height: 100%;
  height: auto;
  border-radius: 0.25rem;
  user-select: none;
  pointer-events: none;
  color: transparent;
  background-color: #ffffff;
  filter: drop-shadow(0 40px 32px rgb(0 0 0 / 0.04))
    drop-shadow(0 16px 12px rgb(0 0 0 / 0.1));
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #0d1117;
    color: #e6edf3;
  }

  p {
    color: #9198a1;
  }

  img {
    background-color: #0d1117;
    width: unset;
  }
}

@media (max-width: 640px) {
  body {
    padding: 1rem;
    min-height: fit-content;
  }

  aside {
    align-items: flex-start;
  }

  section {
    writing-mode: vertical-lr;
  }
}
